body {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.controls {
	display: flex;
	max-width: max-content;
	flex-direction: column;
	gap: 1em;
	margin: 2em 0 0 2em;
}

.controls .title {
	text-align: center;
	border-bottom: 1px solid black;
	margin-bottom: 0;
}

.slider-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.color-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid {
	width: 500px;
	height: 500px;
	display: grid;
	grid-auto-rows: auto;
	margin: auto;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.grid div {
	transition: all 0.4s;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
/* Reference: https://www.w3schools.com/howto/howto_css_switch.asp */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 0.8em;
	width: 0.8em;
	left: 0.2em;
	bottom: 0.1em;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(0.8em);
}

/* Rounded sliders */
.slider.round {
	border-radius: 0.5em;
}

.slider.round:before {
	border-radius: 50%;
}

#color {
	transition: all 0.3s ease-in-out;
	appearance: none;
	width: 80px;
	height: 80px;
	border: none;
	background-color: transparent;
	transform: scale(1, 1) translateZ(0);
}

#color:hover {
	transform: scale(1.1);
}

#color::-webkit-color-swatch-wrapper {
	padding: 0;
}

#color::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}
